*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    
    background-image:linear-gradient(#0a0a0abf, #0a0a0abf), url(images/562217d64a78.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header_main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header_main_div div{
    width: 50%;
    text-align: center;
}
.header_main_div h1{
    color: #fff;
    text-transform: capitalize;
    font-size: 60px;
   
}
.header_main_div p{
    color: #fff;
    font-size: 18px;
    padding-bottom: 40px;
    line-height: 35px;
}
.header_main_div a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    background: tomato;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 10px;
}
/* donat section start */
#donate_section{
     width: 100%;
     height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.donate_main_div{
    width: 50%;
    text-align: center;
}
.donate_top_content h1{
    text-transform: capitalize;
    font-size: 45px;
    padding-bottom: 20px;
}
.donate_top_content p{
    padding-bottom: 40px;
}
.donate_middle_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
}
.donate_middle_content h1{
    background-color: #e9e9e9;
    padding: 40px 20px;
    color: #565656;
    border-radius: 5px;

}
.donate_middle_content .second_heading{
    border: 1px solid tomato;
    color: tomato;
}
/* donate_bottom_content */
.donate_bottom_content input{
    display: block;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 5px 0px;
    outline: none;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.donate_bottom_content a{
    text-decoration: none;
    color: #fff;
    background-color: tomato;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 5px; 
}
/* donate_plan_section */
#donate_plan{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donate_plan_main_div{
    width: 80%;
    text-align: center;
}
.donate_plan_top_content h1{
    font-size: 40px;
    text-transform: capitalize;
    padding: 30px 0px;
}
.donate_plan_top_content p{
    padding-bottom: 40px;
}
/* donate_plan_bottom_content */
.donate_plan_bottom_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: start ;
}
.donate_plan_icon{
    width: 78%;
    padding: 55px 30px;
    border-radius: 10px;
}
.donate_plan_icon h3{
    text-transform: capitalize;
    font-size: 20px;
    padding: 10px 0px;
}

.donate_plan_icon p{
    font-size: 15px;
    font-weight: 500;
}
.first{
    background-color: #d5dedf;
}
.second{
    background-color: #edc5c5;
}
.third{
    background-color: #edd3a2;
}
/* update_Section */
#update_section{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.update_main_div{
    width: 55%;
    text-align: center;
}
.update_main_div_top h1{
    font-size: 40px;
    text-transform: capitalize;
    padding-bottom: 30px;
}
.update_main_div_top p{
    padding: 30px 0px;

}
.update_main_div_bottom{
    background-color: #e5d9a0;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.update_main_div_bottom input{
    padding: 10px 100px;
    padding-left: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.update_main_div_bottom a{
    text-decoration: none;
    background-color: tomato;
    color: #fff;
    padding: 8px 35px;
    border-radius: 5px;
    margin-left: -10px;
}